@model IEnumerable<qlkho.Models.Material>

@{
    ViewData["Title"] = "Details";
    var i = 1;
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>User</th>
            <th>Material Name</th>
            <th>Expiry</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@Html.DisplayFor(m => item.User.Username)</td>
                <td>@Html.DisplayFor(m => item.MaterialName.Name)</td>
                <td>@Html.DisplayFor(m => item.Expiry)</td>
                <td>
                    @if(item.Status == 0)
                    {
                        <span class="badge rounded-pill bg-gradient-primary" style="font-size: 13px;">Stored</span>
                    }
                    else if (item.Status == 1)
                    {
                        <span class="badge rounded-pill bg-gradient-warning" style="font-size: 13px;">Lent</span>
                    } else if(item.Status == 2)
                    {
                        <span class="badge rounded-pill bg-gradient-secondary" style="font-size: 13px;">Used</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
